<h1>Welcome</h1>

<p><img src="welcome.jpg" width="200" alt="Welcome" /></p>

<ul>
  <li><strong>Welcome</strong></li>
  <li><a href="/kubernetes">Kubernetes</a></li>
  <li><a href="/docker">Docker</a></li>
</ul>
